.text-trans, .text-trans:hover {
  color: rgb(0, 0, 0, .65)
}

.text-trans-hov:hover {
  color: rgb(0, 0, 0, .65)
}

.bg-trans {
  background-color: rgb(0, 0, 0, .65)
}

.border-trans {
  border-color: rgb(0, 0, 0, .65);
}

/* My dynamic footer! :) */
html, body {
  min-height: 100vh;
}
.page-wrapper {
  min-height: 90vh; /* 100vh - your footer height */
  display: block;
}
.footer {
  height: 10vh; /* Your height may vary */
}

/* Misc. */
.no-select, .no-select * {
  user-select: none;
}
.no-ul > * {
  text-decoration: none;
}
