/* Webkit Animations */
@-webkit-keyframes rumble-0 {
  25% { -webkit-transform: translate(1px, 0px); }
  50% { -webkit-transform: translate(0px, -1px); }
  75% { -webkit-transform: translate(-1px, 0px); }
  100% { -webkit-transform: translate(0px, 1px); }
}
@-webkit-keyframes rumble-1 {
  25% { -webkit-transform: translate(1px, 0px) rotate(-2deg); }
  50% { -webkit-transform: translate(0px, -1px) rotate(0deg); }
  75% { -webkit-transform: translate(-1px, 0px) rotate(2deg); }
  100% { -webkit-transform: translate(0px, 1px) rotate(0deg); }
}
@-webkit-keyframes rumble-2 {
  25% { -webkit-transform: translate(2px, 0px) rotate(-3deg); }
  50% { -webkit-transform: translate(0px, -2px) rotate(0deg); }
  75% { -webkit-transform: translate(-2px, 0px) rotate(3deg); }
  100% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
}
@-webkit-keyframes rumble-3 {
  25% { -webkit-transform: translate(3px, 0px) rotate(-4deg); }
  50% { -webkit-transform: translate(0px, -3px) rotate(0deg); }
  75% { -webkit-transform: translate(-3px, 0px) rotate(4deg); }
  100% { -webkit-transform: translate(0px, 3px) rotate(0deg); }
}
@-webkit-keyframes rumble-4 {
  25% { -webkit-transform: translate(5px, 0px) rotate(-6deg); }
  50% { -webkit-transform: translate(0px, -5px) rotate(0deg); }
  75% { -webkit-transform: translate(-4px, 0px) rotate(6deg); }
  100% { -webkit-transform: translate(0px, 4px) rotate(0deg); }
}

/* Rumble */
.rumble-0 {
  -webkit-animation: rumble-0 .075s infinite linear;
  animation: rumble-0 .075s infinite linear;
}
.rumble-1 {
  -webkit-animation: rumble-1 .0625s infinite linear;
  animation: rumble-1 .0625s infinite linear;
}
.rumble-2 {
  -webkit-animation: rumble-2 .0625s infinite linear;
  animation: rumble-2 .0625s infinite linear;
}
.rumble-3 {
  -webkit-animation: rumble-3 .0625s infinite linear;
  animation: rumble-3 .0625s infinite linear;
}
.rumble-4 {
  -webkit-animation: rumble-4 .0625s infinite linear;
  animation: rumble-4 .0625s infinite linear;
}

/* Rumble on hover */
.rumble-hov-0:hover {
  -webkit-animation: rumble-0 .075s infinite linear;
  animation: rumble-0 .075s infinite linear;
}
.rumble-hov-1:hover {
  -webkit-animation: rumble-1 .0625s infinite linear;
  animation: rumble-1 .0625s infinite linear;
}
.rumble-hov-2:hover {
  -webkit-animation: rumble-2 .0625s infinite linear;
  animation: rumble-2 .0625s infinite linear;
}
.rumble-hov-3:hover {
  -webkit-animation: rumble-3 .0625s infinite linear;
  animation: rumble-3 .0625s infinite linear;
}
.rumble-hov-4:hover {
  -webkit-animation: rumble-4 .0625s infinite linear;
  animation: rumble-4 .0625s infinite linear;
}
